#column1{
    filter: alpha(opacity=30);
    opacity: 0.7;
    text-emphasis-color: white;

};
.body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/images/background.jpg");
}
div.table1{
    border: 1px solid white;
    margin: 10%;
    opacity: 0.6;
    filter: alpha(opacity=50);
    border-radius: 25px;
}